.card-artista{
    width: 20%;
    height: 50vh;
    border-radius: 10px;
    background-color: #f0f0f0;
}
.content-perfil{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-artista{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid black;
}
.nombre-artista{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.descripcion-artista{
    width: 100%;
    height: 40%;
}
.text{
    width: 100%;
    height: 100%;
    text-align: center;
}