.follow-button {
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.infollow-button {
  background-color: #f21d1d;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.follow-button:hover {
  background-color: #0024ee;
}