@import url("./components/cardArtista.css");
@import url("./components/contentArtista.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    background-color: rgb(53, 54, 54);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}