*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100dvh;
    background-color: #201f1f;
}
h1{
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.contentHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.content-buscador{
    width: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.BuscadorPersonaje{
    padding: 0.5rem;
    width: 20rem;
}
.contentMain{
    border: 1px solid white;
    min-height: 100dvh;
}